@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 20px;
  background: #edeff0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html {
  background: url(../src/Wave1.svg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.travelIcon {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.btn {
  display: inline-block;
  background: #6a6352;
  color: #eee;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition-duration: 0.4s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  color: #eee;
  width: 100%;
}

.delete-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.list {
  border-radius: 10px;
  background-color: #b4d6e9;
  margin-bottom: 15px;
  padding-left: 15px;
}

.list.completed {
  border-left: 8px solid #6a6352;
  text-decoration: line-through;
}
.add-list {
  margin-bottom: 40px;
  padding: 15px;
  background-color: rgb(223, 219, 211);
  border-radius: 15px;
}

.list-control {
  margin: 20px 0;
}

.list-control label {
  display: block;
}

.list-control input {
  width: 100%;
  height: 40px;
  margin: 3px;
  padding: 1px 3px 1px 3px;
  font-size: 17px;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  outline: none;
}

.subtitle {
  font-size: 8px;
}
